toBRouter.get('/{{pluralRouteName}}', {{className}}Controller.list)
toBRouter.get('/{{routeName}}', {{className}}Controller.detail)
toBRouter.post('/{{routeName}}', {{className}}Controller.create)
toBRouter.put('/{{routeName}}', {{className}}Controller.update)
toBRouter.delete('/{{routeName}}', {{className}}Controller.delete)

// TEMPLATE ROUTES TAG