import {
  Entity,
  Column,
  PrimaryGeneratedColumn,
  JoinColumn,
  CreateDateColumn,
  DeleteDateColumn,
} from 'typeorm'
import moment from 'moment'

@Entity('{{ tableName }}')
export class {{ className }}
{
  @PrimaryGeneratedColumn()
  id : number 
  {% for column in columns %}
  @Column({
    {% if column.columnName %}name: '{{column.columnName}}',{% endif %}
    {% if column.columnType %}type: '{{column.columnType}}',{% endif %}
    {% if column.comment %}comment: '{{column.comment}}',{% endif %}
    {% if column.default %}default: {{ column.default }}{% endif %}
  })
  {{column.name}} : {{column.type}}
  {% endfor %}
  @CreateDateColumn({
    name: 'created_at',
    transformer: {
      from: (e : any) => moment(e).format('YYYY-MM-DD HH:mm:ss'),
      to: (e : any) => moment(e).format('YYYY-MM-DD HH:mm:ss')
    } as any
  })
  createdAt : Date

  @DeleteDateColumn({
    name: 'deleted_at',
    transformer: {
      from: (e : any) => moment(e).format('YYYY-MM-DD HH:mm:ss'),
      to: (e : any) => moment(e).format('YYYY-MM-DD HH:mm:ss')
    } as any,
    default: null
  })
  deletedAt : Date
}